*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;      
}
.profile{
    max-width: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.5);
    position: relative;
}
.profile::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 137 255);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 170px;
}
.profile .img{
    width: 150px;
    height: 150px;  
    border-radius: 50%;
    background-color: rgb(0 137 255);
    padding: 3px;
    z-index: 1;
}
.profile .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.profile .name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.profile .name h3{
    margin-bottom: 10px;
    color: #262626;
    letter-spacing: 1px;
}
.profile .name p{
    color: #616161;
}
.profile .icons{
    margin-top: 20px;
}
.profile .icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .icons ul li{
   margin: 0 5px;
   background: black;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s;
}
.profile .icons ul li  span{
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.profile .icons ul li:hover{
    background: black !important;
}
.profile .btns{
    margin-top: 30px;
}
.profile .btns a{
    margin: 0 10px;
    color: white;
    background: rgb(0 137 255);
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    transition: 0.5s;
}
.profile .btns a:hover{
    background: #000;
}
.profile .data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.profile .data .data-form{
    padding: 10px;
    border-right: 1px solid #707070;
}
.profile .data .data-form span{
    cursor: pointer;
    color: #616161;
    transition: 0.5s;
}
.profile .data .data-form:hover span{
   color: #000;
}
.profile .data .data-form:last-child{
    border-right: none;
}
/* Responsive */
@media(max-width:400px){
    .profile .btns a {
        margin: 10px;
        display: block;
    }
    .profile{
        max-width: 270px;
    }
}
@media(max-width:280px){
    .profile{
        max-width: 170px;
    }
}